body {
    background-image: url("images/red-chinese-background.jpg");
}
h1 {
    text-align: left;
    position: absolute;
    right: 25%;
}
#pictureMargin {
position: absolute;
right: 1%; 
}
#informationTab {
    position: absolute;
    right: 40px;
    bottom: 220px;
    text-align: center;
    white-space: nowrap;

}
#informationTab2 {
    position: absolute;
    right: 40px;
    bottom: 55px;
    text-align: left;
    white-space: nowrap;

}