body {
    background-image: url("images/red-chinese-background.jpg");
    overflow: auto;
}
#headerPic {
    text-align: left;
    position: absolute;
    right: 25%;
    bottom: 460px;


}
#pictureMargin {
    position: absolute;
    right: 40px;
    height: 319px;
    bottom: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}
#informationTab {
    position: absolute;
    right: 40px;
    bottom: 35px;
    text-align: center;
    white-space: nowrap;


}
#informationTab2 {
    position: absolute;
    right: 40px;
    bottom: -130px;
    text-align: left;
    white-space: nowrap;
}
#gameSummary {
    position: absolute;
    bottom: 60%;
    right: 90%;
}
#bodyParagraph {
    position: absolute;
    right: 30%;
    bottom: -10%;
    justify-content: flex-start;

}
